<!-- <h2>{{team.name}} Dashboard</h2> -->
<div class="team-member">
    <label for="name" type="text" value="MemberName">Member name:{{TeamMember.name}}</label>
    <app-user-ratings *ngIf="TeamMember.user === this.afAuth.auth.currentUser.uid" [userData]="TeamMember"></app-user-ratings>
    <div class="mb-2" *ngFor=" let team of db.teams | async">
        <app-team-ratings *ngIf="TeamMember.team === team.name" [teamData]="team"></app-team-ratings>
        <app-po-comment *ngIf="TeamMember.team === team.name" [team]="team.name"></app-po-comment>
    </div>
    <app-leaderboard></app-leaderboard>
    <app-rate-teams></app-rate-teams>
</div>

<!-- <form action="rating"> -->
<!-- <input [(ngModel)]="POsHappiness" class="title" type="text" name="PO's" placeholder="PO's happiness">
    <br> -->
<!-- <input [(ngModel)]="TeamAverage" class="title" type="text" name="average's team" placeholder="Team average">
    <br> -->
<!-- <h2>{{TeamLeader.rating}}</h2> -->
<!-- <input [(ngModel)]="Scoreboard" class="title" type="text" name="SeeScoreboard" placeholder="Scoreboard">
    <br> -->
<!-- <input [(ngModel)]="POsComments" class="title" type="text" name="PO'sComments" placeholder="PO's comments">
    <br> -->
<!-- <input [(ngModel)]="TeamsVelocity" class="title" type="text" name="Velocity" placeholder="Teams velocity">
    <br> -->
<!-- </form> -->