<input class="dashboard" type="text" name="MyDashboard" placeholder="Dashboard">
<br><br><br><br>

<label for="name" type="text" value="MemberName">Member name:</label>

<form action="rating">
    <input [(ngModel)]="POsHappiness" class="title" type="text" name="PO" placeholder="PO's happiness">
    <br>
    <input [(ngModel)]="TeamRating" class="title" type="text" name="Rating team" placeholder="Team rating">
    <br>
    <input [(ngModel)]="Myrating" class="title" type="text" name="Rating myself" placeholder="My rating">
    <br>
</form>