<div *ngIf="userData.role == 'leader' || userData.role == 'member'" class="row justify-content-center m-0 border p-2">
    <h4 class="col-12">{{userData.name}}</h4>
    <div class="col-md-6">
        Average: {{userData.rating/userData.totalSprints}}
    </div>
    <div class="col-md-6">
        Previous rating: {{userData.previousRating}}
    </div>
</div>
<div *ngIf="userData.role == 'po'" class="row justify-content-center m-0 border p-2">
    <h4 class="col-12">{{userData.name}}</h4>
    <div class="col-12">
        Average happiness: {{db.poAverageHappiness}}
    </div>
</div>