<table class="table table-responsive table-dark table-striped">
    <thead>
        <tr scope="row">
            <th scope="col">Team</th>
            <th scope="col">Score</th>
            <th scope="col">PO Happiness</th>
            <th scope="col">
                <select name="sprint" [(ngModel)]="selectedSprint" class="form-control">
                    <option *ngFor="let item of sprintNums" [value]="item">Sprint {{item}}</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let item of db.sprints | async">
            <td *ngIf="item.id.split('-')[1] == this.selectedSprint">{{item.id.split('-')[0]}}</td>
            <td *ngIf="item.id.split('-')[1] == this.selectedSprint">{{item.score}}</td>
            <td colspan="2" *ngIf="item.id.split('-')[1] == this.selectedSprint">{{item.poHappiness}}</td>
        </tr>
    </tbody>
</table>