<div class="container-fluid ">
  <!-- Banner -->
  <div class="row">
    <div>
      <h2>Dashboard</h2>
    </div>
  </div>


  <!-- Statistics -->

  <h2>Leader Name</h2>

  <!-- PO Happiness -->
  <div class="row justify-content-center">PO Happiness</div>

  <!-- Team rating -->
  <div class="row ">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="alert alert-success w-50">
        <h4>Team Rating: </h4>
        <h3>5</h3>
      </div>
    </div>
  </div>

  <!-- My Rating  -->
  <div class="row ">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="alert alert-success w-50">
        <h4>My Rating: </h4>
        <h3>5</h3>
      </div>
    </div>
  </div>

  <!-- Edit Velocity -->
  <div class="row ">
    <div class="col-md-12">
      <app-zippy  title="Edit Velocity">
          <label for="">Edit Velocity</label> <input type="number" class="form-control" name="" id="">
      </app-zippy>
    </div>
  </div>

  <!-- Set Points -->
  <div class="row ">
    <div class="col-md-12">
      <app-zippy  title="Set points">
        <label for="">Edit Sprint Points: </label> <input type="number" class="form-control" name="" id="">
      </app-zippy>
    </div>
  </div>

  <!-- Sprint Dates -->
  <div class="row ">
    <div class="col-md-12 ">
      <app-zippy  title="Sprint Dates">

          <label for="">Start Date: </label> <input type="date" class="form-control mb-3" name="start-date" id="">

          <label for="">End Date: </label> <input type="date" class="form-control" name="end-date" id="">

      </app-zippy>
    </div>
  </div>


</div>
