<div class="container">
    <div class="row" *ngIf="this.sprintNum === undefined">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="sprintClosed">the team is currently busy with a sprint please login once strint has ended. thank you</div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div *ngIf="this.sprintNum !== undefined" class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="headerLabel justify-content-center">Sprint Review ({{this.sprint[0]['name']}} sprint {{this.sprintNum.split('-')[1]}})</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="questionnaire">
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels ">Rating of team (1-5):</label>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="rating">
                            <ng-container *ngFor="let x of [5,4,3,2,1]">
                                <input [(ngModel)]='teamRating' type="radio" [id]="'star' + (x)" name="star" [value]="x" />
                                <label class="full" [for]="'star' + (x)"></label>
                            </ng-container>
                        </fieldset>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Rate presentation of team (1-5):</label>
                    </div>
                    <div class="col-md-6">

                        <fieldset class="rating">
                            <ng-container *ngFor="let y of [5,4,3,2,1]">
                                <input [(ngModel)]='presentation' type="radio" [id]="'present' + (y)" name="present" [value]="y" />
                                <label class="full" [for]="'present' + (y)"></label>
                            </ng-container>
                        </fieldset>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Rate work of team (1-5):</label>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="rating">
                            <ng-container *ngFor="let z of [5,4,3,2,1]">
                                <input [(ngModel)]='rateWork' type="radio" [id]="'work' + (z)" name="work" [value]="z" />
                                <label class="full" [for]="'work' + (z)"></label>
                            </ng-container>
                        </fieldset>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label class="labels">Rate your happiness:</label>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="rating">
                            <ng-container *ngFor="let w of [5,4,3,2,1]">
                                <input [(ngModel)]='happiness' type="radio" [id]="'happy' + (w)" name="happy" [value]="w" />
                                <label class="full" [for]="'happy' + (w)"></label>
                            </ng-container>
                        </fieldset>

                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label class="labels">Comment on review:</label>
                </div>
                <div class="col-md-6">
                    <textarea [(ngModel)]="comment" class="form-control form-control-lg" type="textarea" placeholder="Comment on review"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 ">
                    <input class="btn justify-content-right" type="submit" value="Submit" (click)="review()">
                </div>
                <div class="col-md-4"></div>
            </div>

        </div>
        <div class="col-md-2"></div>


    </div>
</div>