<div class="row justify-content-center m-0 login">
    <div class="col-6 leftBlock text-center">
        <img src="../../../assets/nitro.png" alt="logo" class="mx-auto">
    </div>
    <div [hidden]="submitted" class="col-6 loginForm">
        <h1 class="text-center">Login</h1>
        <form (ngSubmit)="onSubmit()" #loginForm='ngForm'>
            <input class="form-control mt-5" placeholder="Email" email type="email" name="email" [(ngModel)]="email" #mail="ngModel" required/>
            <div [hidden]="mail.valid || mail.pristine" class="alert alert-danger mt-1">
                Email is required
            </div>
            <input class="form-control mt-5" placeholder="Password" type="password" name="password" [(ngModel)]="password" #pass="ngModel" required/>
            <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger mt-1">
                Password is required
            </div>
            <div class="row m-0">
                <div class="col-6 pr-3 pl-0 mt-5">
                    <button class="btn btn-dark" type="submit" name="login" [disabled]="!loginForm.form.valid">Login</button>
                </div>
                <div class="col-6 pl-3 pr-0 mt-5">
                    <button (click)="this.router.navigate(['/register'])" class="btn btn-dark"> Register</button>
                </div>
            </div>
        </form>
        <h6 class="text-center mt-3" width="100%">Or</h6>
        <button (click)="this.authentication.googlePopUp()" class="btn btn-dark mt-3">Sign In with Google</button>
    </div>
    <div [hidden]="!submitted">
        <img src="../../assets/Ripple-2s-200px.gif" alt="Loading...">
    </div>
</div>