/* 
#chartdiv {
    width: 100%;
    height: 350px;
    background: #5d3bb4;
    background: linear-gradient(to bottom, #626dd4, #5d3bb4);
    color: #fff;
    font-weight: 100;
    overflow: hidden;
  }
  
  .amcharts-graph-g4 {
    filter: url(#blur);
  } */